@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-agrandir: "Agrandir", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .border_section {
    position: relative;
  }
  .border_section::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 1rem;
    padding: 1px;
    background: radial-gradient(100% 178.46% at 0% 0%, #7f60ff 0%, #2acfff 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
  .border_style {
    position: relative;
  }
  .border_style::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px;
    padding: 1px;
    background: radial-gradient(100% 178.46% at 0% 0%, #2acfff 0%, #7f60ff  100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}







@font-face {
  font-family: 'Agrandir';
  src: url('/font/Agrandir-Tight.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Agrandir',Arial, Helvetica, sans-serif;
}
